node_modules
build
npm-debug.log
.env
.DS_Store
.history
.tmp-globalize-webpack
public/mainPage.js
public/mainPage.js.LICENSE
public/mainPage.js.LICENSE.txt
test/skserv/config/plugin-config-data/signalk-pump-meter/bilge1.dat
mockdir/
